// buttons, form fields, selects
._control-width-select {
	--control-width: #{microbe-rem(180)};

	@include microbe-media($screen-vw) {
		--control-width: #{vw(250)};
	}
}

._control-width-xs {
	--control-width: #{microbe-rem(32)};

	@include microbe-media($screen-vw) {
		--control-width: #{vw(36)};
	}
}

._control-height-xs {
	--control-height: #{microbe-rem(32)};

	@include microbe-media($screen-vw) {
		--control-height: #{vw(36)};
	}
}

._control-width-xs {
	--control-width: #{microbe-rem(32)};

	@include microbe-media($screen-vw) {
		--control-width: #{vw(36)};
	}
}

._control-height-xs {
	--control-height: #{microbe-rem(32)};

	@include microbe-media($screen-vw) {
		--control-height: #{vw(36)};
	}
}

._control-height-md {
    --control-height: #{microbe-rem(40)};

    @include microbe-media($screen-vw) {
        --control-height: #{vw(50)};
    }
}

._control-padding-xxs {
	--control-padding: #{microbe-rem(10)};

	@include microbe-media($screen-vw) {
		--control-padding: #{vw(10)};
	}
}

._control-padding-xs {
	--control-padding: #{microbe-rem(10)};

	@include microbe-media($breakpoint-xs) {
		--control-padding: #{microbe-rem(12)};
	}

	@include microbe-media($screen-vw) {
		--control-padding: #{vw(14)};
	}
}

._control-padding-sm {
	--control-padding: #{microbe-rem(14)};

	@include microbe-media($breakpoint-xs) {
		--control-padding: #{microbe-rem(16)};
	}

	@include microbe-media($screen-vw) {
		--control-padding: #{vw(20)};
	}
}

._control-padding-md {
	--control-padding: #{microbe-rem(20)};

	@include microbe-media($breakpoint-xs) {
		--control-padding: #{microbe-rem(24)};
	}

	@include microbe-media($screen-vw) {
		--control-padding: #{vw(28)};
	}
}

._control-space-xs {
	--control-spacing: #{microbe-rem(8)};

	@include microbe-media($screen-vw) {
		--control-spacing: #{vw(10)};
	}
}

._control-space-md {
	--control-spacing: #{microbe-rem(14)};

	@include microbe-media($screen-vw) {
		--control-spacing: #{vw(18)};
	}
}

._font-size-sm {
	--font-size: #{microbe-rem(16)};
	--font-weight: #{microbe-em(24, 16)};

	@include microbe-media($screen-vw) {
		--font-size: #{vw(16)};
	}
}

._b-r-none {
	--control-border-radius: 0;

	@include microbe-media($screen-vw) {
		--control-border-radius: 0;
	}
}

._b-r-sm {
	--control-border-radius: #{microbe-rem($br-sm)};

	@include microbe-media($screen-vw) {
		--control-border-radius: #{vw($br-sm)};
	}
}

._b-r-md {
	--control-border-radius: #{microbe-rem($br-md)};

	@include microbe-media($screen-vw) {
		--control-border-radius: #{vw($br-md)};
	}
}

._b-r-lg {
	--control-border-radius: #{microbe-rem($br-lg)};

	@include microbe-media($screen-vw) {
		--control-border-radius: #{vw($br-lg)};
	}
}

._b-r-full {
	--control-border-radius: 50%;
}
