.card-grid {
	$this: &;

	display: flex;
	flex-wrap: wrap;

	@include microbe-media($breakpoint-df) {
		display: grid;
		gap: microbe-rem(20);
		grid-template-columns: 55% auto;
	}

	@include microbe-media($screen-vw) {
		grid-template-columns: 59.6% auto;
		gap: vw(20);
		justify-content: space-between;
	}

	&__col {
		@include microbe-media($breakpoint-df, max) {
			width: 100%;
		}
	}

	&--transformed {
		@include microbe-media($breakpoint-df) {
			grid-template-columns: 60% auto;
		}

		@include microbe-media($screen-vw) {
			grid-template-columns: 59.6% vw(451);
		}
	}
}
