.main-slider {
	$this: &;

	display: block;
	position: relative;
	text-decoration: none;
	box-sizing: border-box;

	&__slide-bg {
		@include microbe-absolute-gap(0, 0);

		z-index: $zi-negative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__slide-content {
		opacity: 0;
		transition: opacity $duration-normal ease-in $duration-slow;
		padding: microbe-rem(65) 0;
		.is-ready & {
			opacity: 1;
		}

		@include microbe-media($breakpoint-df) {
			padding: 4vmin 0;
		}

		@include microbe-media($screen-vw) {
			padding: vw(150) 0;
			min-height: vw(566);
		}

		p {
			margin: 0;
		}
	}

	&__title {
		@include microbe-media($breakpoint-sm) {
			margin-bottom: microbe-rem(16);
		}

		@include microbe-media($screen-vw) {
			margin-bottom: vw(30);
		}
	}

	.slider-pagination {
		opacity: 0;
		transition: opacity $duration-normal ease $duration-turtle;

		.is-ready & {
			opacity: 1;
		}
	}

	.swiper-container {
		&:not(.swiper-container-initialized) {
			.swiper-slide {
				width: 100%;

				&:not(:first-child) {
					display: none;
				}
			}
		}
	}
}
