.rating {
	$this: &;

	--star-size: #{microbe-rem(12)};

	display: grid;
	grid-template-columns: max-content;
	grid-auto-flow: column;
	gap: microbe-rem(5);

	@include microbe-media($screen-vw) {
		--star-size: #{vw(12)};

		gap: vw(5);
	}

	&__star {
		width: var(--star-size);
		height: var(--star-size);
		color: var(--color-pantone-gray);

		&.is-active {
			fill: var(--color-pantone-orange);
		}
	}

	&--xl {
		--star-size: #{microbe-rem(25)};

		@include microbe-media($screen-vw) {
			--star-size: #{vw(25)};
		}
	}
}
