input {
	&[type='number'] {
		-moz-appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
			margin: 0;
		}
	}

	&[type='search'] {
		&::-webkit-search-cancel-button {
			display: none;
			-webkit-appearance: none;
		}

		&:focus {
			outline: none;
		}
	}

	&:focus {
		&::placeholder {
			opacity: 0;
		}
	}
}
