$duration-none: 0ms;
$duration-light: 100ms;
$duration-flash: 175ms;
$duration-fast: 350ms;
$duration-normal: 500ms;
$duration-slow: 750ms;
$duration-turtle: 1000ms;
$duration-snail: 1500ms;
$duration-slowest: 4000ms;
