@import '~microbe-ui/src/core/functions/rem';

//$space-xxs: microbe-rem(5) !default;
$space-xs: microbe-rem(10) !default;
$space-sm: microbe-rem(20) !default;
$space-md: microbe-rem(30) !default;
$space-df: microbe-rem(40) !default;
$space-lg: microbe-rem(50) !default;
$space-xl: microbe-rem(75) !default;
$space-xxl: microbe-rem(100) !default;
