// -----------------------------------------------------------------------------
// Остальные переменные
// -----------------------------------------------------------------------------

// переменные border-radius в px
$br-sm: 4px;
$br-md: 10px;
$br-lg: 20px;
$br-xl: 40px;

// HEADER
$header-mobile-height: 60px;
$header-bottom-bar-v-pad: 8px;

// Z-INDEX

$zi-modal: 30;
$zi-header: 20;

$zi-mid: 10;

$zi-secondary: 2;
$zi-basic: 1;
$zi-negative: -1;
