.about-reviews {
	$this: &;

	@include microbe-media($breakpoint-md) {
		padding: 0 microbe-rem(40);
	}

	@include microbe-media($screen-vw) {
		padding: 0 vw(40);
	}

	&__slide {
		position: relative;

		&-title {
			text-align: center;
			font-size: microbe-rem(18);
			line-height: microbe-em(24, 18);
			font-weight: 700;
			color: var(--color-black);
			margin-top: microbe-rem(20);

			@include microbe-media($screen-vw) {
				font-size: vw(18);
				margin-top: vw(20);
			}
		}

		&-text {
			font-family: 'PT Serif', sans-serif;
			line-height: microbe-em(32, 22);
			font-style: italic;
			text-align: center;
			font-size: microbe-rem(16);

			@include microbe-media($breakpoint-md) {
				font-size: microbe-rem(22);
			}

			& + & {
				margin-top: microbe-rem(25);

				@include microbe-media($screen-vw) {
					margin-top: vw(25);
				}
			}

			@include microbe-media($screen-vw) {
				font-size: vw(22);
			}
		}
	}

	&__slider {
		position: relative;
		margin-bottom: microbe-rem(40);

		@include microbe-media($breakpoint-md) {
			padding: 0 microbe-rem(30);
			margin-bottom: microbe-rem(70);
		}

		@include microbe-media($screen-vw) {
			margin-bottom: vw(70);
			padding: 0 vw(30);
		}

		.slider-button--horizontal {
			display: none;

			@include microbe-media($breakpoint-md) {
				display: block;
			}

			&.slider-button--prev {
				transform: translate(-100%, -50%);
			}
			&.slider-button--next {
				transform: translate(100%, -50%);
			}
		}
	}
}
